anyio==4.4.0
astor==0.8.1
attrdict==2.0.1
Babel==2.15.0
bce-python-sdk==0.9.14
beautifulsoup4==4.12.3
blinker==1.8.2
boto-session-manager==1.7.2
boto3==1.34.125
botocore==1.34.125
Brotli==1.1.0
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cssselect==1.2.0
cssutils==2.11.1
cycler==0.12.1
Cython==3.0.10
decorator==5.1.1
Distance==0.1.3
et-xmlfile==1.1.0
exceptiongroup==1.2.1
fire==0.6.0
Flask==3.0.3
flask-babel==4.0.0
fonttools==4.53.0
func-args==0.1.1
future==1.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
imageio==2.34.1
imgaug==0.4.0
iniconfig==2.0.0
iterproxy==0.3.1
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
lmdb==1.4.1
loguru==0.7.2
lxml==5.2.2
MarkupSafe==2.1.5
matplotlib==3.9.0
more-itertools==10.3.0
networkx==3.3
nltk==3.8.1
numpy==1.26.4
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.82
openpyxl==3.1.4
opt-einsum==3.3.0
packaging==24.1
paddleocr==2.7.3
paddlepaddle==2.6.1
pandas==2.2.2
pathlib_mate==1.3.2
pdf2docx==0.5.8
pillow==10.3.0
pluggy==1.5.0
premailer==3.10.0
protobuf==3.20.2
psutil==5.9.8
pycld2 @ file:///D:/Magic-PDF/pycld2-0.41-cp310-cp310-win_amd64.whl#sha256=e7e4391c0383771ac89ad974a93619c3ade2e63b75e13bc5292d54238912e840
pyclipper==1.3.0.post5
pycryptodome==3.20.0
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
pyparsing==3.1.2
pytest==8.2.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.9.3
rarfile==4.2
regex==2024.5.15
requests==2.32.3
s3pathlib==2.1.2
s3transfer==0.10.1
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
shapely==2.0.4
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
soupsieve==2.5
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.5.22
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
visualdl==2.5.3
Werkzeug==3.0.3
win32-setctime==1.1.0
wordninja==2.0.0
